body{
    margin: 0;
    background-color: #ccf3f3;
    /* font-family: sans-serif; */

    text-align: center; it displays all text to center present in body section
}

.hovertext:hover{
    color: rgb(255, 0, 0);
}

.hovertextpgm:hover{
    color: rgb(7, 107, 236);
}

.hovertextweb:hover{
    color: green;
}

.hovertextfreelance:hover{
    color: rgb(243, 159, 33);
}

hr{
    /* background-color: white; */
    border-style:  none;
    /* height: 2px; */
    border-top-style:dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
    
}
h1{
    color: #66bfbf;
    margin-top: 0;
    padding-top: 10px;
    font-size: 100;
}

h3{
    color: #66bfbf;
    text-align: center;
}

table{
    align-items: center;
}
#headingh1name{
    font-size: 562.5%;
    font-family: 'Sacramento', cursive;
}

.top-container{
    text-align: center; 
}
.top-container-para{
    text-align: center;
    background-color: #98f0e04f;
}
.middle-container{
    
}
.bottom-container{
    text-align: center;
    position: fixed;
    width: 100%;
    background-color: beige;
    padding: 0;
    bottom: 0;
    
}
/* .footer{
    bottom: 0;
    position: fixed;
    text-align: center;
    margin-bottom: auto;
} */

/* #headingh1name:hover{
    color: rgb(93, 228, 214);
} */
