body{
    background-color: #EAF6F6;
    /* text-align: center; it displays all text to center present in body section */
}

hr{
    /* background-color: white; */
    border-style:  none;
    /* height: 2px; */
    border-top-style:dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
    
}
h1{
    color: #66bfbf;
}

h3{
    color: #66bfbf;
    text-align: center;
}

table{
    align-items: center;
}
#headingh1name{
    font-family:cursive;
}

/* #headingh1name:hover{
    color: rgb(93, 228, 214);
} */